*
  box-sizing: border-box

html 
  scroll-behavior: smooth
  
body 
  font-family: 'GothamPro', sans-serif
  color: $dark-text-color

img
  max-width: 100%

a 
  text-decoration: none
  outline: none
  cursor: pointer

.container 
  max-width: 900px
  margin: auto

.list 
  padding: 0
  margin: 0
  list-style: none

.section 
  padding-top: 120px

.title 
  font-family: 'GothamPro Bold', sans-serif
  font-size: 32px
  margin: 0
  color: $dark-text-color

.button 
  outline: none
  cursor: pointer
  background: transparent
  border: none

.input 
  outline: none

// HOVER ЭФФЕКТЫ 
// @media (min-width: 992px)

@media (max-width: 950px)
  .container 
    max-width: 708px

  .title 
    font-size: 26px

@media (max-width: 562px)
  .container 
    max-width: 282px

  .title 
    font-size: 18px