.card 
  &-wrap
    border: 1px solid $text-color
    border-radius: 7px
    padding: 24px 14px
    font-size: 14px

  &__wrap 
    margin-bottom: 12px

  &__title 
    margin: 0
    margin-bottom: 15px
    font-size: 14px

  &__about 
    display: flex
    justify-content: space-between

  &-description
    display: flex
    justify-content: space-between
    width: 55%

    &__item 
      margin: 0
      width: 128px

  &__cpu 
    max-width: 105px

  &__order 
    display: flex
    flex-direction: column
    align-items: center

  &__price 
    font-family: 'GothamPro Bold', sans-serif
    font-size: 14px
    margin-bottom: 15px

  &__button 
    max-width: 76px
    color: $main-color
    border: 1px solid $main-color
    border-radius: 6px
    font-size: 10px
    padding: 7px 13px
    text-align: center

@media (max-width: 950px) 
  .card 
    &-wrap
      padding: 26px 11px
    &__order 
      padding-right: 15px
    &__price 
      max-width: 65px
      margin-bottom: 7px

@media (max-width: 562px)
  .card
    &-wrap 
      font-size: 12px
      padding: 16px
    &__title 
      font-size: 12px
    &__about 
      flex-direction: column
    &-description 
      width: 100%
      flex-direction: column 
      &__item 
        max-width: 100%
        margin-bottom: 26px
    &__cpu 
      max-width: 100%
    &__order 
      align-items: flex-start
    &__price 
      min-width: 100%
      margin-bottom: 22px
    &__button 
      max-width: 102px
      padding: 5px 30px
