.hero 
  padding-top: 80px
  min-height: 390px
  background-image: url('../img/hero/image.svg') 
  background-repeat: no-repeat
  background-position: 87% 88%

  &__container
    // padding-top: 80px
    // padding-right: 80px
    // min-height: 390px
    // background-image: url('../img/hero/image.svg') 
    // background-repeat: no-repeat
    // background-position: 108% 88%

  &-wrap 
    max-width: 528px 

  &__title 
    margin-bottom: 16px
    // line-height: 120%

  &__text 
    font-size: 18px
    margin-bottom: 34px
    color: $text-color
    line-height: 120%
    
  &__button 
    background-color: $main-color 
    border-radius: 6px
    padding: 9px 17px
    color: $light-text-color
    font-size: 14px

@media (max-width: 950px) 
  .hero 
    background-image: url('../img/hero/image-table.svg')
    background-position: 93% 40%
    min-height: 330px
    padding-top: 64px
    &-wrap 
      max-width: 413px
    &__title
      margin-bottom: 18px
    &__text 
      font-size: 16px
      margin-right: 0
      margin-bottom: 32px
    &__button 
      padding: 7px 17px

@media (max-width: 720px)
  .hero 
    background-image: url('../img/hero/image-mobile.svg')
    background-position: 80% 88%
    padding: 28px 0
    &__title 
      line-height: 120%
    &__text 
      font-size: 12px
      margin-bottom: 27px
    &__button 
      font-size: 10px
      padding: 7px 10px

@media (max-width: 562px)
  .hero 
    min-height: 390px
    background-position: 75% 85%
