doctype html
html(lang="ru")
  head
    include layouts/head
  body
    include layouts/header
    main 
      include layouts/hero
      include layouts/config
      include layouts/performance

    include layouts/footer

    include layouts/scripts
    