.card
  .container
    .card-wrap.card__wrap
      h3.card__title D8
      .card-description
        p.card-description__item.card__cpu 2 × Intel Xeon E-2236 3.4 ГГц, 6 ядер
        span.card-description__item.card__ram 32 ГБ RAM
        span.card-description__item.card__disc 460 ГБ SSD
        .card__order
          span.card__price 16 000 ₽/месяц
          a.button.card__button(href="https://selectel.ru/" target="_blank") Заказать