footer.footer
  .container 
    .footer-wrap 
      .footer-icons
        include logo
        ul.list.footer-social
          li.footer-social__item
            a(href="https://vk.com/selectel" target="_blank")
            .footer__icon
              img(src="img/footer/vk.svg" alt="vk_icon")
          li.footer-social__item
            a(href="https://www.facebook.com/selectel/" target="_blank")
            .footer__icon
              img(src="img/footer/facebook.svg" alt="facebook_icon")
          li.footer-social__item
            a(href="https://twitter.com/selectel" target="_blank")
            .footer__icon
              img(src="img/footer/twitter.svg" alt="twitter_icon")
          li.footer-social__item
            a(href="https://www.instagram.com/selectel.ru/" target="_blank")
            .footer__icon
              img(src="img/footer/inst.svg" alt="inst_icon")
      nav.footer-nav 
        ul.list.footer-nav__list
          li.footer-nav__item
            a(href="https://selectel.ru/" target="_blank") Серверы
          li.footer-nav__item
            a(href="https://selectel.ru/" target="_blank") Оборудование
          li.footer-nav__item
            a(href="https://selectel.ru/" target="_blank") Дата-центры
          li.footer-nav__item
            a(href="https://selectel.ru/" target="_blank") Блог
          li.footer-nav__item
            a(href="https://selectel.ru/" target="_blank") Облако
          li.footer-nav__item
            a(href="https://selectel.ru/" target="_blank") Решения
          li.footer-nav__item
            a(href="https://selectel.ru/" target="_blank") О компании
          li.footer-nav__item
            a(href="https://selectel.ru/" target="_blank") Офисы