footer.footer
  .container 
    .footer-wrap 
      .footer-icons
        .footer__logo
          include logo
        ul.list.footer-social
          li.footer-social__item
            a(href="https://vk.com/selectel" target="_blank")
            svg(width="22" height="23").footer__icon
              use(xlink:href="#vk")
          li.footer-social__item
            a(href="https://twitter.com/selectel" target="_blank")
            svg(width="22" height="23").footer__icon
              use(xlink:href="#twitter")
          li.footer-social__item
            a(href="https://www.facebook.com/selectel/" target="_blank")
            svg(width="22" height="23").footer__icon
              use(xlink:href="#facebook")
          li.footer-social__item
            a(href="https://www.instagram.com/selectel.ru/" target="_blank")
            svg(width="22" height="23").footer__icon
              use(xlink:href="#inst")
      nav.footer-nav 
        ul.list.footer-nav__list
          li.footer-nav__item
            a(href="https://selectel.ru/" target="_blank") Серверы
          li.footer-nav__item
            a(href="https://selectel.ru/" target="_blank") Оборудование
          li.footer-nav__item
            a(href="https://selectel.ru/" target="_blank") Дата-центры
          li.footer-nav__item
            a(href="https://selectel.ru/" target="_blank") Блог
          li.footer-nav__item
            a(href="https://selectel.ru/" target="_blank") Облако
          li.footer-nav__item
            a(href="https://selectel.ru/" target="_blank") Решения
          li.footer-nav__item
            a(href="https://selectel.ru/" target="_blank") О компании
          li.footer-nav__item
            a(href="https://selectel.ru/" target="_blank") Офисы