header.header
  .container
    .header-wrap
      .header__logo
        include logo
      ul.list.header-contacts
        li.header-contacts__phone
          a(href="tel:+7(800)555-06-75" target="_blank")
            .header__icon
              img(src="img/header/phone.svg" alt="phone_icon")
            span +7 (800) 555-06-75
        li.header-contacts__mail
          a(href="mailto:sales@selectel.ru" target="_blank")
            .header__icon
              img(src="img/header/mail.svg" alt="mail_icon")
            span Написать на почту
        li.header-contacts__telegram
          a(href="https://t.me/Selectel" target="_blank")
            .header__icon
              img(src="img/header/telegram.svg" alt="telegram_icon")
            span Написать в Telegram
