header.header
  .container
    .header-wrap
      .header__logo
        include logo
      ul.list.header-contacts
        li.header-contacts__phone
          a(href="tel:+7(800)555-06-75" target="_blank")
            svg(width="12" height="13").header__icon
              use(xlink:href="#phone")
            span.header-contacts__text +7 (800) 555-06-75
        li.header-contacts__mail
          a(href="mailto:sales@selectel.ru" target="_blank")
            svg(width="16" height="12").header__icon
                use(xlink:href="#mail")
            span.header-contacts__text Написать на почту
        li.header-contacts__telegram
          a(href="https://t.me/Selectel" target="_blank")
            svg(width="12" height="12").header__icon
                use(xlink:href="#telegram")
            span.header-contacts__text Написать в Telegram
