section.hero
  .container.hero__container
    .hero-wrap
      h1.title.hero__title Надежные серверы для проектов любой сложности
      p.hero__text Выделенный сервер — это аренда сервера под задачи вашего проекта с возможностью свободно распоряжаться ресурсами машины и установки любого программного обеспечения.
      a.hero__button(href="https://selectel.ru/" target="_blank") Готовые серверы